body {font-family:Arial, Helvetica, Sans-Serif; font-size:13px; color:#333399} 
td {font-family:Arial, Helvetica, Sans-Serif; font-size:13px; color:#333399} 
A:link {text-decoration:underline; color:#000084}
A:visited {text-decoration:underline; color:#000084}
A:active {text-decoration:underline; color:#000084}
A:hover {text-decoration:underline; color:#0000FF}

.header {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #333399;
}
.room-titles {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
}
.siscategory-listing{
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #333333;
}

.sisparent-listing{
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:16px;
 color: #815D3A;
 background-color: #E2D3C4;
 background-repeat: repeat;
}

/*------ D O O R   W A Y  P A G E S ----------*/
.dw-header{
font-face:Arial, Helvetica, sans-serif;
text-align:center;
color:#000099;
}

.dw-footer-links{
width:650px;
margin-left:auto;
margin-right:auto;
font-size:90%;
text-align:center;
color:#000099;
}
.dw-p{
width:650px;
margin-left:auto;
margin-right:auto;
text-align:left;
color:#000099;
padding-right:5px;
}

.dw-address1{
font-weight:bold;
color:#000066;
}
.dw-address2{
color:#000099;
}
/*--------------------------*/
#footer {
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
}

